<div [hidden]="isHidden()">
  <p>
    You're nearly there. Most required components have been installed, but for the remaining parts
    DNS and HTTPS must be setup correctly. Please make the changes to your DNS zone as outlined
    below and make sure to wait for your changes to propagate before finishing the installation
    by clicking &quot;Next&quot;.
  </p>

  <dl class="dns-records">
    <div *ngFor="let record of dnsRecords">
      <dt class="name">{{ record.name }}</dt>
      <dd><span class="type {{ record.type.toLowerCase() }}">{{ record.type }} ➜</span> <code>{{ record.target }}</code></dd>
    </div>
  </dl>
</div>
