<div [hidden]="isHidden()">
  <p>
    You're nearly there. Kubermatic has been installed, but before you can access it, you
    have to update your DNS zone to point the following hostnames to the ingress
    load balancers. Afterwards make sure to wait for your DNS changes to propagate and then
    finish the installation by clicking &quot;Next&quot;.
  </p>

  <dl class="dns-records">
    <div *ngFor="let record of dnsRecords">
      <dt class="name">{{ record.name }}</dt>
      <dd><span class="type {{ record.type.toLowerCase() }}">{{ record.type }} ➜</span> <code>{{ record.target }}</code></dd>
    </div>
  </dl>
</div>
