<div [hidden]="isHidden()">
  <p>
    That's it! You have successfully installed Kubermatic and can now begin to use it right away
    to create your own clusters. As per your configuration, you can access it at
  </p>

  <h2>DNS Updates</h2>

  <p>
    You need to update your DNS zone and add new entries for Kubermatic before you can begin
    to use it. Please take a look at the list of records below and update your DNS provider.
  </p>

  <dl class="dns-records">
    <div *ngFor="let record of dnsRecords">
      <dt class="name">{{ record.name }}</dt>
      <dd><span class="type {{ record.type.toLowerCase() }}">{{ record.type }} ➜</span> <code>{{ record.target }}</code></dd>
    </div>
  </dl>

  <p>
    After the changes have propagated and Kubermatic was able to acquire its TLS certificates,
    you can begin to use it using the link below.
  </p>

  <p class="address"><a href="{{ fullURL() }}" target="_blank">{{ fullDomain() }}</a></p>

  <h2>Helm <code>values.yaml</code></h2>
  <p>
    Make sure to download the <code>values.yaml</code> for Helm in case you want to further
    modify and re-deploy the charts in the future, but since it contains your kubeconfig and
    other credentials, <strong>keep it secret</strong>.
  </p>

  <p fxLayout fxLayoutAlign="center">
    <button mat-raised-button color="primary" (click)="downloadValues()">Download values.yaml <mat-icon>save</mat-icon></button>
  </p>

  <h2>Installer Manifest</h2>
  <p>
    We also recommend that you keep a copy of your configuration manifest that you've created
    with this wizard. This allows you to re-run the installer at a later point in time without
    having to re-enter all information again. As with the <code>values.yaml</code>, your manifest
    also contains private information and should be treated carefully.
  </p>

  <p fxLayout fxLayoutAlign="center">
    <button mat-raised-button color="primary" (click)="downloadManifest()">Download Manifest <mat-icon>save</mat-icon></button>
  </p>
</div>
