<div class="sidebar">
  <mat-list class="wizard-steps">
    <div *ngFor="let item of getStepStates()" class="{{ item.active ? 'active' : '' }}">
      <mat-list-item>
        <mat-icon color="{{ item.color }}" class="icon">{{ item.icon }}</mat-icon> {{ item.name }}
      </mat-list-item>
    </div>
  </mat-list>
</div>
<div class="content">
  <mat-card>
    <mat-card-title>{{ currentStepTitle() }}</mat-card-title>
    <mat-card-content>
      <ng-template step-host></ng-template>
    </mat-card-content>
    <mat-card-actions fxLayout>
      <div fxFlex="50">
        <button mat-raised-button *ngIf="!isFirstStep()" [disabled]="!allowBack" (click)="previousStep()"><mat-icon>chevron_left</mat-icon> Back</button>
      </div>
      <div fxFlex="50" fxLayoutAlign="end">
        <button mat-raised-button color="primary" *ngIf="!isLastStep()" [disabled]="!stepValid" (click)="nextStep()">Continue <mat-icon>chevron_right</mat-icon></button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
