<div [hidden]="isHidden()" class="secrets-step">
    <form [formGroup]="form" #formDir="ngForm" (submit)="wizard.nextStep()">
      <p>
        To enable Kubernetes to pull the private Kubermatic Docker images
        from Docker Hub and Quay, please provide the authentication
        information (as JSON) below.<br>
        If you logged in to those registries using <code>docker login</code>,
        you can find the neccessary JSON at <code>~/.docker/config.json</code>.
      </p>

      <mat-form-field class="docker-auth">
        <textarea matInput placeholder="{&quot;auths&quot;: [...]}" required formControlName="dockerAuth" rows="20"></textarea>
        <mat-error>
          <span *ngFor="let err of getErrors('dockerAuth') | keyvalue">{{ err.value }}</span>
        </mat-error>
      </mat-form-field>

      <div *ngIf="hasFormErrors()">
        <mat-error>
          The form is not valid. Please fix any error messages noted below:
        </mat-error>
        <ul>
          <li *ngFor="let err of form.errors | keyvalue">{{ err.value }}</li>
        </ul>
      </div>
    </form>
  </div>
