<mat-toolbar class="mat-elevation-z3">
  <app-import-button [manifest]="manifest" (imports)="onNewManifest($event)"></import-button>
  <span class="toolbar-spacer"></span>
  <span><img src="/assets/img/kubermatic.png" class="logo" alt="Kubermatic Container Engine"> Installation Wizard</span>
  <span class="toolbar-spacer"></span>
  <button mat-raised-button (click)="exportManifest()">Export <mat-icon>cloud_download</mat-icon></button>
</mat-toolbar>

<div class="body-wrapper">
  <div class="wizard-container" *ngIf="render">
    <app-wizard [app]="this" [manifest]="manifest" (resetWizard)="onNewManifest($event)"></app-wizard>
  </div>
</div>
