<mat-toolbar color="primary" class="mat-elevation-z3">
  <import-button [manifest]="manifest" (imports)="onNewManifest($event)"></import-button>
  <span class="toolbar-spacer"></span>
  <span>Kubermatic Installation Wizard</span>
  <span class="toolbar-spacer"></span>
  <button mat-raised-button (click)="exportManifest()">Export <mat-icon>cloud_download</mat-icon></button>
</mat-toolbar>

<div class="body-wrapper">
  <div class="wizard-container" *ngIf="render">
    <app-wizard [manifest]="manifest" (resetWizard)="onNewManifest($event)"></app-wizard>
  </div>
</div>

