<div [hidden]="isHidden()">
  <h2>Welcome</h2>

  <p>
    This wizard will guide you through the setup steps for setting up Kubermatic
    on your own infrastructure, be it with a cloud provider like AWS or on your
    own hardware.
  </p>

  <p>
    Many things will be configured automatically for you. If you instead want to
    tweak all available options, please enable the advanced mode below.
  </p>

  <p fxLayout fxLayoutAlign="center">
    <mat-slide-toggle (change)="onSliderChanged($event)" [checked]="manifest.advancedMode">advanced mode</mat-slide-toggle>
  </p>
</div>
