[Global]
auth-url = \"${OS_AUTH_URL}\"
username = \"${OS_USERNAME}\"
password = \"${OS_PASSWORD}\"
domain-name="Default"
tenant-name = \"${OS_TENANT_NAME}\"
region = \"${OS_REGION_NAME}\"

[BlockStorage]
trust-device-path = false
bs-version = "v2"