<div [hidden]="isHidden()" class="settings-step">
  <form [formGroup]="form" #formDir="ngForm" (submit)="wizard.nextStep()">
    <p>
      On this page you can configure various other settings of your new Kubermatic
      installation.
    </p>

    <h3>Base Domain</h3>
    <div fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="start stretch" class="form-row">
      <div fxFlex="65%" class="label">
        <label for="base-domain">
          Define the base domain under which Kubermatic and its 3rd party services
          should be reachable.<br>
          <small>Kubermatic will prepend subdomains like
          <code>prometheus.</code> or <code>grafana.</code> to your base domain and
          also take care of automatically acquiring TLS certificates from Let's Encrypt.
          Make sure the domain and its subdomains are publicly reachable from the
          Internet.</small>
        </label>
      </div>
      <div fxFlex="35%">
        <mat-form-field class="base-domain">
          <input matInput placeholder="example.com" required formControlName="baseDomain" id="base-domain">
          <mat-error>
            <span *ngFor="let err of getErrors('baseDomain') | keyvalue">{{ err.value }}</span>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div *ngIf="hasFormErrors()">
      <mat-error>
        The form is not valid. Please fix any error messages noted below:
      </mat-error>
      <ul>
        <li *ngFor="let err of form.errors | keyvalue">{{ err.value }}</li>
      </ul>
    </div>
  </form>
</div>
